.App {
  text-align: center;
}

.container{
  height: 7vh;
  background-color: aquamarine;
}
.main{
  display: flex;
  flex-direction: row;
  column-gap: 10vh;
}
.main-form{
  height: 100vh;
  width: 50vh;
  background-color: rgb(35, 193, 193);
  padding: 1rem;
  border-radius: 10%;
}
.input-form{
  display: flex;
  flex-direction: column;
}
.map{
  height: 100vh;
  width: 100vh;
  border-width: 0.5rem;
  border-style: dashed;
}